<div class="card">

  <div class="header">
      <h2 class="title">Book Search</h2>
  </div>

  <div class="content">
      <form>
          <div class="form-group">
              <label>Title:</label>
              <input [(ngModel)]="title" name="title" class="form-control">
          </div>
          <div class="form-group">
              <label>Author:</label>
              <input [(ngModel)]="author" name="author" class="form-control">
          </div>
          <!-- <div class="form-group">
              <label>Loan: </label>
              <input type="checkbox" name="loan" class="form-control">
          </div> -->
          <div class="form-group">
            <button
              class="btn btn-default"
              [disabled]="!author && !title"
              (click)="search()">
              Search
            </button>
          </div>
      </form>
  </div>
</div>

<div class="row">
  <div
    *ngFor="let book of books"
    class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <app-book-card [item]="book"></app-book-card>
  </div>
</div>