<div
    class="card"
    [ngStyle]="{'background-color': (selected) ? 'rgb(204, 197, 185)' : 'white' }">

    <div class="header">
        <h2 class="title">{{item.title}}</h2>
        <h4>
          <ng-content select="span[myStyling].child-title"></ng-content>
        </h4>
    </div>

    <div class="content">
        <p>Author: {{item.author}}</p>
        <p>ID: {{item.id}}</p>
        <p>Loan Date: {{item.loanDate}}</p>
        <p>Return Date: {{item.returnDate}}</p>
        <p>
          <ng-content></ng-content>
        </p>
        <p>
            <button
                class="btn btn-default"
                (click)="toggleSelection()">{{ selected ? 'Remove' : 'Select'}}
            </button>
            <button
                class="btn btn-default"
                (click)="toggleSelection()">
                Edit
            </button>
        </p>
  </div>
</div>
