<div class="card book-card">
    <div class="header">
        <h2 class="title">{{item.title}}</h2>
        <h4>
          <ng-content select="span[myStyling].child-title"></ng-content>
        </h4>
    </div>

    <div class="content">
        <p>Author: {{item.author}}</p>
        <p>Book ID: {{item.id}}</p>
        <p>User ID: {{item.userID}}</p>
        <p>Loan Date: {{item.loanDate}}</p>
        <p>Return Date: {{item.returnDate}}</p>
        <p>
            <button class="btn btn-default" (click)="toggleSelection()">Edit</button>
        </p>
  </div>
</div>
