<div class="card">
    <div class="header">
        <h2 *ngIf="!displayAddForm" class="title">Edit</h2>
        <h2 *ngIf="displayAddForm" class="title">Add</h2>
    </div>

    <div class="content">
        <form [formGroup]="form">
            <h3 *ngIf="!displayAddForm">Customer ID {{customer.id}}</h3>
            <div class="form-group">
                <label>Firstname:</label>
                <input [(ngModel)]="customer.firstname" formControlName="firstname" name="firstname" class="form-control">
            </div>
            <div class="form-group">
                <label>Lastname:</label>
                <input [(ngModel)]="customer.lastname" formControlName="lastname" name="lastname" class="form-control">
            </div>
            <button *ngIf="!displayAddForm" [disabled]="!form.valid" class="btn btn-default" (click)="updateCustomer(customer)">Update</button>
            <button *ngIf="displayAddForm" [disabled]="!form.valid" class="btn btn-default" (click)="addCustomer(customer)">Add</button>
        </form>
    </div>
</div>
