<div class="sidebar-wrapper">
    <div class="logo">
        <a class="simple-text">
            <div class="logo-img">
                <img src="../../assets/img/angular2-logo.png" alt="">
            </div>
            Book Rental
        </a>
    </div>
    <ul class="nav">
        <li routerLinkActive="active">
            <a href="">
                <i class="ti-user"></i>
                <p>User</p>
            </a>
        </li>

        <li routerLinkActive="active">
            <a routerLink="/book">
                <i class="ti-book"></i>
                <p>Book</p>
            </a>
        </li>

        <li routerLinkActive="active">
            <a routerLink="/reviews">
                <i class="ti-comment"></i>
                <p>Review</p>
            </a>
        </li>
    </ul>
</div>
