<div class="sidebar-wrapper">
    <div class="logo">
        <a class="simple-text" routerLink="/home">
            <div class="logo-img">
                <img src="../../assets/img/angular2-logo.png" alt="">
            </div>
            Book Rental
        </a>
    </div>
    <ul class="ml-2 nav flex-column">
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="/customer/list" class="nav-link">
                <i class="ti-user"></i>
                <p>Customers</p>
            </a>
        </li>
      <li routerLinkActive="active" class="nav-item">
            <a routerLink="/book/dashboard" class="nav-link">
                <i class="ti-book"></i>
                <p>Books</p>
            </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
            <a routerLink="/review/list" class="nav-link">
                <i class="ti-comment"></i>
                <p>Reviews</p>
            </a>
        </li>
    </ul>
</div>
