<div>
  <h3>Customer List</h3>
  <button class="btn btn-default" (click)="editCustomer(null)">Add</button>
</div>

<div class="header">
  <h3 class="title">Search</h3>
</div>
<div class="content">
  <form>
      <div class="form-group">
          <label>Lastname</label>
          <input [(ngModel)]="lastname" name="lastname" class="form-control" (input)="filterChanged()">
      </div>
      <div class="form-group">
          <button class="btn btn-default button" [disabled]="!lastname" (click)="search()">Search</button>
      </div>
  </form>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{customer.id}}</td>
      <td>{{customer.firstname}}</td>
      <td>{{customer.lastname}}</td>
      <td><button class="btn" (click)="editCustomer(customer)">Edit</button></td>
      <td><button class="btn" (click)="deleteCustomer(customer)">Delete</button></td>
      <td><button class="btn" (click)="showBooksOfCustomer(customer.id)">Show books</button></td>
    </tr>
  </tbody>
</table>
