<div class="card">
    <!-- Dashboard component header -->
    <div class="header">
        <h2 class="title">Dashboard</h2>
    </div>

    <!-- Search component header -->
    <div class="header">
        <h3 class="title">Search</h3>
    </div>
    <!-- Search content -->
    <div class="content">
        <form>
            <div class="form-group">
                <label>Title:</label>
                <input [(ngModel)]="title" name="title" class="form-control" (input)="filterChanged()">
            </div>
            <div class="form-group">
                <label>Author:</label>
                <input [(ngModel)]="author" name="author" class="form-control" (input)="filterChanged()">
            </div>
            <div class="form-group">
                <button class="btn btn-default" [disabled]="!author && !title" (click)="search()">Search</button>
                <button class="btn btn-default" (click)="bookSelected(null)">Add</button>
            </div>
        </form>
    </div>

    <!-- Dashboard view -->
    <div class="row">
        <div *ngFor="let book of books" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <app-book-card [item]="book" (onBookSelected)="bookSelected($event)"></app-book-card>
        </div>
    </div>
</div>